body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #5D3A9B;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.web-title {
    font-size: 2.5em;
    margin: 0;
}

.movie-section {
    padding: 20px;
    width: 90%;
    margin: 30px auto;
    color: white;
    background: linear-gradient(120deg, #5D3A9B, #4A90E2, #E94B3C);
    border-radius: 10px;
}

.movie-section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8em;
    text-transform: uppercase;
}

.movie {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 0;
    cursor: pointer;
}


.movie:last-child {
    border-bottom: none;
}

.movie-img img {
    width: 80px;
    border-radius: 5px;
    height: 120px;
    object-fit: cover;
    margin-right: 15px;
    transition: transform 0.3s ease;
}

.movie-img img:hover {
    transform: scale(1.05);
}
.movie-name {
    flex: 1;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center
}

.movie-price {
    font-size: 1em;
    font-weight: bold;
    width: 80px;
    text-align: right;
}

footer {
    background-color: #4A90E2;
    color: white;
    text-align: center;
    padding: 20px 10px;
    margin-top: 40px;
}

footer h2 {
    margin-bottom: 10px;
}

footer p {
    margin: 0 auto;
    max-width: 600px;
    line-height: 1.5;
}

@media (max-width: 600px) {
    .movie {
        flex-direction: column;
        align-items: flex-start;
    }

    .movie-img img {
        margin-bottom: 10px;
    }

    .movie-name {
        text-align: left;
        margin-bottom: 5px;
    }

    .movie-price {
        text-align: left;
    }
}